@import url('https://fonts.cdnfonts.com/css/gt-walsheim');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'GT Walsheim', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

.wrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.slide-bg {
    position: absolute;
    inset: 0;
    background-color: #020208;
}

.rocket {
    background: white;
    border: 2px solid #ececec;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: grid;
    place-items: center;
}


.btn {
    background: #020208;
    border-radius: 5px;
    padding: .2rem .5rem;
    color: #f60;
    font-weight: 600;
    letter-spacing: 1px;
}


.wrapper {
    padding: 5rem 0rem;
}
