@import url('https://fonts.cdnfonts.com/css/gt-walsheim');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'GT Walsheim', sans-serif;
}

body {
    background-color: #f60;
    overflow-x: hidden;
}

.wrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 5rem 0rem;
}

.card {
    width: 100%;
    max-width: 300px;
    border-radius: 12px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: bold;
    user-select: none;
    visibility: hidden;
}
