@import url('https://fonts.cdnfonts.com/css/gt-walsheim');
@import url('https://fonts.cdnfonts.com/css/raleway-5');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'GT Walsheim', sans-serif;
}

body {
    background-color: #000008;
    overflow-x: hidden;
}

.wrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.slide-bg {
    position: absolute;
    inset: 0;
    background-color: #020208;
}

.rocket {
    background: white;
    border: 2px solid #ececec;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: grid;
    place-items: center;
}


.btn {
    background: #020208;
    border-radius: 5px;
    padding: .2rem .5rem;
    color: #f60;
    font-weight: 600;
    letter-spacing: 1px;
}


.wrapper {
    padding: 5rem 0rem;
}

.text {
    font-family: 'Raleway', sans-serif;
}


.banner {
	background:white;
	position:relative;
	width:300px;
	height:250px;
	border:1px solid #aaa;
	display:flex;
	align-items:center;
	justify-content:center;
	
	background-image: url("https://assets.codepen.io/32887/pexels-asad-photo-maldives-1320674.jpg");
	background-size:cover;
}

.cta {
	cursor:pointer;
	position:absolute;
	bottom:10px;
	right:10px;
	border:none;
	padding:18px;
	border-radius:12px;
	background-color:#43A047;
	color:white;
	font-size:20px;
	will-change:transform;
	transform:scale(0.8);
}

h2 {
	font-weight:800;
	text-align:center;
	color:white;
	font-family:sans-serif;
	font-size:30px;
	text-shadow:1px 1px 3px #333;
}

h2 span {
	font-size:40px;
}

/* Photo by Asad Photo Maldives from Pexels 
   https://www.pexels.com/photo/seashore-1320674/
*/
