@import url('https://fonts.cdnfonts.com/css/gt-walsheim');

* {
    font-family: 'GT Walsheim', sans-serif;
}

body {
    background: #f60;
}


.rocket {
    background: white;
    border: 2px solid #ececec;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: grid;
    place-items: center;
}


.btn {
    background: #020208;
    border-radius: 5px;
    padding: .2rem .5rem;
    color: #f60;
    font-weight: 600;
    letter-spacing: 1px;
}


